doctype html
html(lang="es")
	head
		title Probando Routing 
		script(type='text/javascript').
      
	body
		h1 Probando Routing basico
		#container.col
			form(action="/" method="POST")
				input(type="submit" value="Enviar")